.analyzeContainer{
    display: flex;
    flex: 1;
    flex-direction: column;  
    background: #f5f5f5
}
.analyzeHeader{
    flex: 1.2;
    
}
.analyzeContent{
    margin-top: 10px;
    background: #fff;
    flex: 4;
 
    overflow-y:scroll;
}